<div class="col-md-3 mb-3 mt-1">
    <div class="card">
        <div class="card-body">
            <div class="h2">
                {{ author.get_full_name }}
            </div>
            <div class="h3 text-muted">
                <a href="{% url 'posts:profile' author.username %}">
                    @{{ author.username }}
                </a>
            </div>
            <div class="mt-3">
                {% if user != author %}
                    {% if follow %}
                    <a class="btn btn-lg btn-light"
                            href="{% url 'posts:profile_unfollow' author.username %}" role="button">
                            Отписаться
                    </a>
                    {% else %}
                    <a class="btn btn-lg btn-primary"
                            href="{% url 'posts:profile_follow' author.username %}" role="button">
                    Подписаться
                    </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">
                Подписчиков: {{ author.following.count }} <br />
                Подписан: {{ author.follower.count }}
                </div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">
                    Записей: {{ author.posts.count }}
                </div>
            </li>
        </ul>
    </div>
</div>