<div class="card mb-3 mt-1 shadow-sm">
    {% load thumbnail %}
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img" src="{{ im.url }}">
    {% endthumbnail %}
        <div class="card-body">
                <p class="card-text">
                        <a href="{% url 'posts:profile' username=post.author.username %}"><strong class="d-block text-gray-dark">@{{ post.author.username }}</strong></a>
                        {{ post.text|linebreaksbr }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group ">
                                {% if not dont_view_add_comment %}
                                <a class="btn btn-sm text-muted" href="{% url 'posts:post' username=post.author.username post_id=post.id %}" role="button">Добавить комментарий</a>
                                {% endif %}
                                {% if request.user == post.author %}
                                <a class="btn btn-sm text-muted" href="{% url 'posts:post_edit' username=post.author.username post_id=post.id %}" role="button">Редактировать</a>
                                {% endif %}
                        </div>
                        <small class="text-muted">{{ post.pub_date|date:"d F Y г. G:i" }}</small>
                </div>
        </div>
</div>
